body {
  box-sizing: border-box;
  display: grid;
  place-items: center;
  gap: 20px;
  background: radial-gradient(#252525 15%, transparent 16%) 0 0,
    radial-gradient(#252525 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.3) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.3) 15%, transparent 20%) 8px 9px;
  background-color: #210606c9;
  background-size: 16px 16px;
  height: 91vh;
}
/* 
.bordered {
  border: red 1px solid;
} */

.domino {
  width: 10rem;
  background: linear-gradient(
    to bottom right,
    rgb(39, 39, 39),
    rgb(17, 17, 17)
  );
  box-shadow: inset 0.1em 0.1em 0.2em rgba(255, 255, 255, 0.2),
    inset -0.1em -0.1em 0.2em rgba(0, 0, 0, 0.9),
    0.1em 0.1em 2em rgba(0, 0, 0, 1);
  display: grid;
  border-radius: 0.8em;
  gap: 1.9rem;
  padding: 1.9rem;
  transform: scale(0.8);
}
.domino::before {
  content: "";
  height: 0.25em;
  background: white;
  grid-row: 2;
  border-radius: 0.25em;
}
.domino .part {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.part span {
  aspect-ratio: 1/1;
  width: 100%;
  border-radius: 50%;
  background-image: linear-gradient(transparent 50%, rgba(240, 240, 240) 50%);
  background-size: 100% 220%;
  background-position: 0 0%;
  transition: background-position 0.25s ease;
  transform: scale(1.3);
}

.on {
  background-color: white;
  box-shadow: 5px 4px 16px 2px rgba(0, 0, 0, 0.51) inset;
  -webkit-box-shadow: 5px 4px 16px 2px rgba(0, 0, 0, 0.51) inset;
  -moz-box-shadow: 5px 4px 16px 2px rgba(0, 0, 0, 0.51) inset;
  border: 5px solid rgb(47, 45, 45);
  box-sizing: border-box;
}

.off {
  background-color: none;
}

.buttons {
  width: 400px;
  display: grid;
}

#start {
  display: none;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  background-color: #a3b763;
  color: rgb(1, 1, 1);
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 900;
  border: none;
  box-sizing: border-box;
  z-index: 2;
  box-shadow: 18px 18px 40px black, -18px -18px 30px #ffffff1d;
  cursor: pointer;
}

.domino {
  cursor: pointer;
  zoom: 0.3;
}

#OnHandSection,
#rivalSection {
  height: fit-content;
  width: 100vw;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

section h1 {
  position: relative;
  background-color: #ecf0f3;
  font-size: 1.6rem;
  color: #252525;
  box-shadow: 10px 10px 5px #35383c, inset 10px 10px 7px #c3c4c5c6,
    inset -10px -10px 10px #fdfcfc;
  border-radius: 8px;
  border: 5px solid #ecf0f3;
  padding: 4px;
  font-family: sans-serif;
  width: 150px;
  margin: 0.1rem auto;
  text-align: center;
  text-shadow: 7px 7px 6px rgba(0, 0, 0, 0.422);
  transform: scale(0.5);
}

.section1 {
  position: absolute;
  top: 0;
}

.section3 {
  position: absolute;
  bottom: 0;
}

.section2 {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  gap: 0px;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section1,
.section2 {
  width: fit-content;
}

.OnHandDomino {
  opacity: 0.2;
  /* transform: scale(0.5); */
  zoom: 0.4;
}

@media only screen and (max-width: 1200px) {
  .logSection {
    width: 95%;
  }

  .domino {
    zoom: 0.25;
  }
}

@media only screen and (max-width: 900px) {
  .logSection {
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
  }

  .domino {
    zoom: 0.25;
  }
}

@media only screen and (max-width: 600px) {
  .domino {
    zoom: 0.9;
  }

  .section2 {
    width: 100vw;
    grid-template-columns: repeat(7, 1fr);
    place-items: center;
  }

  .domino {
    zoom: 0.2;
  }

  .OnHandDomino {
    opacity: 0.2;
    /* transform: scale(0.5); */
    zoom: 0.2;
  }
}
